[9:16 pm, 12/12/2025] YUSRA: *{
    padding: 0%;
    margin: 0%;
    color: white;
}
body{
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content:center;


}

.container{
  width:250px;
  height: 500px;
  border-radius: 7px;
    
    
    
    padding: 56px;
    margin-top:20px ;
    border:none;
    background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    
    backdrop-filter: blur(20px);
}
h1{
    text-transform: capitalize;
    color: #1a1a2e;
   
    text-align: center;
        text-transform: capitalize;
    text-decoration: underline;

}
.parents label{
    
     

     color: #162447;
    font-size: 16px;
    font-weight: 500;
      
}
.parents input ,select {
    width: 200px;
    height: 40px;
    color: #162447;
   background-color: #f0f4f8;
    border-radius: 8px;
    box-shadow: 30px;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 15px;
    color: #162447;
   
    

  
}
.parents ::placeholder{
  justify-content: center;
  align-items: center;
  color: #999;
}
.parents button{
    
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius:30px;
    background-color: #162447;
    color:  #fff;
    font-size: 16px;
    justify-content: center;
    transition: 0.3s;
    
    

}
.parents button:hover{
    background-color:#1f4068;
}
@media (min-width:430) {
.container{
  width: 150px;
  height: 100px;
}
}
  



 
  

  
